.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 20px 70px;
    background-color: #FA8072;
    color: #800000
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: #BC8F8F;
    color: #FA8072;
}

body {
    margin: 10;
    padding-bottom: 90px
    font-family: Arial;
  }

.left-img {
      float:left;
      margin: 10px 10px 10px 10px;


